<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isLogin ? 'Login' : 'Register' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    style="
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    "
  >
    <div>
      <ion-input
        [(ngModel)]="email"
        label="E-mail"
        type="email"
        placeholder="Enter e-mail"
        (keyup.enter)="continue()"
      ></ion-input>

      <ion-input
        [(ngModel)]="password"
        label="Password"
        type="password"
        placeholder="Enter password"
        (keyup.enter)="continue()"
      ></ion-input>

      <ion-button
        *ngIf="isLogin"
        expand="block"
        fill="clear"
        (click)="forgotPassword()"
        style="margin-top: 0.5rem; font-size: 0.9rem"
      >
        Forgot Password?
      </ion-button>

      <ion-input
        *ngIf="!isLogin"
        [(ngModel)]="name"
        label="Nickname"
        placeholder="Enter nickname"
        (keyup.enter)="continue()"
      ></ion-input>

      <ion-button
        expand="block"
        fill="clear"
        (click)="toggleMode()"
        style="margin-top: 1rem"
      >
        {{ isLogin ? 'Need an account? Register' : 'Already have an account? Login' }}
      </ion-button>
    </div>

    <div>
      <ion-button expand="block" fill="outline" (click)="continue()">
        {{ isLogin ? 'Login' : 'Register' }}
      </ion-button>
    </div>
  </div>
</ion-content>
