/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode - User Controlled
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 *
 * Dark mode is controlled by the user via settings toggle
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

* {
  font-family: "JetBrains Mono", monospace !important;
}

:root {
  --ion-color-primary: #568f87 !important;
  --ion-background-color: #fff5f2 !important;
  --ion-color-light: #fff5f2 !important;
  --ion-item-border-color: #fff5f2 !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --ion-color-secondary: #fff5f2 !important;
}

.button-large {
  --border-radius: 2rem !important;
  text-transform: none !important;
}
.button-medium {
  --border-radius: 2rem !important;
  text-transform: none !important;
}
.button-small {
  --border-radius: 2rem !important;
  text-transform: none !important;
}
.button-outline {
  --border-width: 1px !important;
  --border-radius: 2rem !important;
  text-transform: none !important;
}
.searchbar-input-container.sc-ion-searchbar-md {
  --box-shadow: 0 !important;
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 5rem !important;
}
.item-native {
  background: red !important;
}
.native-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {
  padding-top: 0 !important;
  color: #568f87 !important;
}
.footer-md {
  box-shadow: 0 0 0 transparent !important;
}