<ion-header>
  <ion-toolbar color="primary">
    <ion-title>The concept</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add a recipe</ion-card-title>
      <ion-card-subtitle>Step one</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Recipes are recurring lists that you only need to make once. Think of a
      recipe like stir-fried rice.
      <br />
      You only need to write the recipe for stir-fried rice once in the recipe
      section and then you can keep using it in the grocery list tab.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add a grocery list</ion-card-title>
      <ion-card-subtitle>Step two</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      Grocery lists are lists you make everytime you might go to a supermarket.
      The power is that you can now add recipes with the click of a button.
      <br />
      If you feel like making your stir-fried rice again, just add the recipe to
      the grocery list without the need to lookup the same recipe online, and
      you can add other items to the same grocery list as well.
    </ion-card-content>
  </ion-card>
</ion-content>
