<ion-header
  [translucent]="true"
  style="padding: 0.5rem; border-radius: 0.5rem; box-shadow: none"
>
  <ion-toolbar color="primary" style="border-radius: 0.5rem">
    <ion-buttons slot="start">
      <ion-button> <ion-icon name="flower-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title> Grocery lists </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()" color="light">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 style="color: #568f87">Welcome to Notes App</h1>
    <p style="color: #568f87">
      A simple and elegant note-taking application built with Ionic
    </p>
    <div style="display: flex; gap: 0.5rem; flex-direction: column">
      <ion-button
        expand="block"
        routerLink="/notes"
        size="large"
        style="flex-grow: 1"
      >
        Create grocery lists
      </ion-button>

      <ion-button
        expand="block"
        routerLink="/blueprints"
        size="large"
        fill="outline"
        style="flex-grow: 1"
      >
        Create recipes
      </ion-button>
    </div>
  </div>
</ion-content>
